@import './colors.css';

section#quotes {
  background-color: var(--main-bg);
  font-size: .9em;
  padding-bottom: 10%;
}

.quotes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 10%;
  z-index: 1;
  position: relative;
}

.quotes-img {
  margin-left: 9.5vw;
  position: relative;
  top: 18px;
  z-index: 0 ;
}

section#quotes article {
  flex: 1;
  min-width: 300px;
  background-color: var(--testimonials-bg);
  padding: 2em 2em .5em 2em;
  border-radius: 8px;
}

section#quotes article:nth-of-type(1) {
  margin-top: 0;
}

.writer {
  display: flex;
  margin: 1.7em 0;
}

.writer figure img {
  border-radius: 50%;
  height: 30px;
  margin-right: 0.9em;
  margin-top: 5px;
}

.writer figcaption p:nth-of-type(1){
  font-weight: bold;
}

.writer figcaption p:nth-of-type(2){
  font-size: .7em;
  margin-top: .5em;
}